# Backend API
CONNECTION_STRING="Host=ep-broad-bonus-agm5m43w-pooler.c-2.eu-central-1.aws.neon.tech; Database=neondb; Username=neondb_owner; Password=npg_clwYV1ZQAdo6; SSL Mode=VerifyFull; Channel Binding=Require;"

# Optional (defaults to Production when omitted)
ASPNETCORE_ENVIRONMENT=Production

# Optional backend integrations
FEATURE_HUB_URL=https://featurehub.89.117.49.191.nip.io/
FEATURE_HUB_API_KEY=bda304a6-4feb-4dfa-9439-be7d42cc5eb5/zCtjqNg9UcR5zhR5Jk4qzwR7QrDutX*zGld9hUslxcltDQFz9P8

